<template name="introHeader">
  <div class="intro-header {{headerClass}}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1><img src="img/logo100.png" alt="logo" width="144" height="80" id="logotxt">Social Mint</h1>
            <h3>Social Stock Investment</h3>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div> <!-- /.container -->
  </div> <!-- /.intro-header -->
</template>
