<template name="about">
  <div class="about-container">
    <!-- Header -->
    <div class="intro-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1><img src="img/logo100.png" alt="logo" width="144" height="80" id="logotxt">Social Mint</h1>
              <h3>Social Stock Investment</h3>
              <hr class="intro-divider">
            </div>
          </div>
        </div>
      </div> <!-- /.container -->
    </div> <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="container">

      <div class="header-section">
        <h1 class="heading">About</h1>
        <hr>
      </div>

      <div class="content-section-a">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <h2 class="section-heading">Jeremy Meyer</h2>
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <p class="lead">
              Jeremy is responsible for developing the robust technology infrastructure powering SocialMint, and plays a key role in the product design and direction.
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="img/team/jeremy.jpg" alt="">
          </div>
        </div>
      </div> <!-- /.content-section-a -->

      <div class="content-section-b">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <h2 class="section-heading">Andy Shi</h2>
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <p class="lead">
              Andy uses his deep knoweldge of market behavior to power the analytics of SocialMint, and is instrumental in directing the progress of the public-facing marketing pages.
            </p>
          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <img class="img-responsive" src="img/team/andy.jpg" alt="">
          </div>
        </div>
      </div> <!-- /.content-section-b -->

      <div class="content-section-a">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <h2 class="section-heading">Michael Goldman</h2>
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <p class="lead">
              Michael has many jobs at SocialMint, and has implemented many key features, from the auto-text alerts to the social ranking algorithm.
            </p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <img class="img-responsive" src="img/team/michael.jpg" alt="">
          </div>
        </div>
      </div> <!-- /.content-section-a -->
    </div> <!-- /.container -->
  </div> <!-- /.about-container -->
</template>
