
.about-container .intro-header {
  height: 400px;
}

.about-container .intro-header .intro-message {
  padding-top: 90px;
  padding-bottom: 0;
}

.about-container .header-section {
  margin-top: 40px;
}

.about-container .section-heading {
  margin-bottom: 0;
}

.about-container .img-responsive {
  max-width: 360px;
}
