<template name="contact">

  <div class="contact-container">
    <!-- Header -->
    {{> introHeader}}

    <!-- Page Content -->

    <div class="container">

      <div class="header-section">
        <h1 class="heading">Contact</h1>
        <hr>
      </div>

      <div class="content-section-a">
        <div class="row">
          <div class="col-lg-12">
            <p class="main-text"> Send us an email! </p>
            <p class="main-text"> contact@social-mint.me </p>
          </div>
        </div>
      </div> <!-- /.content-section-a -->

    </div> <!-- /.container -->

  </div> <!-- /.contact-container -->
</template>
