
.navbar .brand-image {
  float:left;
  margin-top:10px;
  padding-left:10px;
}

.navbar-top-links li a {
  display: block;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}
