<template name="stockSentiment">
    {{> stockNav}}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Community Sentiment
                </div>
                <div class="panel-body">
                    <div class="container web">
                        <div class="row content">
                            <div class="span12">
                                <div id="container" style="height: 33em; max-width: 44em; margin: 0 0 0 4em;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Share your sentiment
                </div>
                <div class="panel-body">
                    Bullish
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="value" id="bull-value" placeholder="Predicted peak" class="form-control">
                    </div>
                    <br>
                    Bearish
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="value" id="bear-value" placeholder="Predicted minimum" class="form-control">
                    </div>
                    <br>
                    <button id="submit-button" class="btn btn-default pull-right"> Submit </button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Get price alert texts
                </div>
                <div class="panel-body">
                    High
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="value" id="high-value" placeholder="High value notification" class="form-control">
                    </div>
                    <br>
                    Low
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="value" id="low-value" placeholder="Low value notification" class="form-control">
                    </div>
                    <br>
                    <a href="#" onclick="test(); setAlerts();">test?</a>
                    <button class="btn btn-default pull-right" onclick="setAlerts();"> Set </button>
                </div>
            </div>
        </div>
    </div>
</template>