<template name="stockNav">
  <div class="row">
    <div class="col-lg-8">
      <h1 class="page-header">
        {{name}} - {{symbol}}
        <span class="price">({{last_price}})</span>
        <span class="change {{changeClass}}">
          {{#if changeIsPositive}}+{{else}}-{{/if}}{{change}}/{{changePercent}}%
        </span>
      </h1>
    </div>
    <div class="col-lg-4">
      <ul class="nav nav-pills nav-justified">
        <!-- TODO: convert to pathFor -->
        <li class="{{statsClass}}">
          <a href="/stocks/{{symbol}}/stats">Statistics</a>
        </li>
        <li class="{{sentimentClass}}">
          <a href="/stocks/{{symbol}}/sentiment">Sentiment</a>
        </li>
      </ul>
    </div>
  </div>
</template>